
.listening-image {
    background: url("../../assets/images/listening.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 70%;
    width: 50%;
    position: absolute;
    bottom: 100px;
    right: 0px;
}

@media screen and (min-width: 1025px) and (max-width: 1630px){  
    .listening-image {
        width: 40%;
        height: 60%;
    }
}

@media screen and (min-width: 1350px) { 
    .listening-image {
        width: 35%;
        height: 70%;
    }
}  